
body {
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  
  min-height: 29.7cm;
  width: 70%;
  box-shadow: 0 0 10px #aaa;
  
  margin-left:12%;
  margin-right:18%;
  
  box-shadow: 0 0 1cm rgba(0, 0, 0, 0.5);
}
